@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

#frm_Login,#frm_Login.button
{
    border-style: solid;
    height: 300px;
    width: 400px;
    margin-top: 20px;
}
input[type="button"]:hover{
    background:#2288bb;
}
input[type="button"]{
    margin-top: 10px;
    background-color: #0c76ff;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #ffffff;
}

.hide
{
	display:none;
	color:red;
}

body {
	background: #E6E7E9;
	margin:0;
	padding:0;
	font-family:  Arial, Helvetica, sans-serif;
        /*'Pontano Sans', Arial, Helvetica, sans-serif;*/
	font-size: 16px;
	color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	/*width: 100%;*/
    margin-top:20px;
    width: 600px;
	text-align: center;
    font-size: 15;
}

th, td {
	/*padding: 10px 10px;*/
}

th {
	color: #ffffff;
	background: #ff761a none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
}
/*
code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}
*/
p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

a {
	color: #799AC0;
}

a:hover {
	color: #DE2D3A;
}

a:focus {
	outline: none;
}


a.button { 
    background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	background-color: #4076AB;
}

/*
fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}
*/
form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

form input.formbutton {
	border: none;
	background: #DE2D3A;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 15px;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h2 {
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h3 {
	color: #DE2D3A;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h4 {
    font-family: 'Pontano Sans', Arial, sans-serif;
    color: #799AC0;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h5 {
	padding-bottom: 10px;
	font-size: 16px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 960px;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 0 5px 5px 5px #CCCCCC;
	background-color: #fff;
}

header {
	padding: 30px 0;
	background: #fff;
	margin: 0 auto;
	text-align:center;
}

header h1 a, header h1 a:hover {
 color: #FF6600;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:30px;
    text-decoration: none;
    /*text-transform: uppercase;*/
	
}
header h1 a span { 
	color: #FF6600;
	text-transform:uppercase;
	text-shadow:#00F;
	font-size:55px;
}

header h2 {
	color: #FF6600;
	font-size: 13px;
	position: relative;
	top: 5px;
	letter-spacing: 0;
}

nav {
	height: 70px;
	background-color: #FF6600;
	float:left;
}

nav ul {
	height: 70px;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	display: block;
	padding: 0;
}


nav ul li a {
    color: #eee;
    display: block;
    font-family: 'Pontano Sans',Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 0;
   margin: 0;
    padding: 28px 20px 25px;
    text-decoration: none;
    text-transform: uppercase;
	border-right:1px solid ;
	font-weight:bold;
}
nav ul li.selected a,
nav ul li.selected a:hover { 
	background-color: #FF6600;
	color: #fff; 
	
}


nav ul li a:hover {
	color: #fff;
	background-color: #4076AB;
	text-decoration: none;
	/*font-size: 16px;*/
}

img.header-image { padding-top: 10px;
			margin-bottom: -3px; }

#body {
	background: none;
	margin:0 auto;
 	padding: 0;
	clear: both;
}

#main {
    float: right;
    width: 71%;
    margin-top:10px;
    padding-top:10px;
}

article {
    border-bottom: 2px solid #ddd;
    padding: 10px 10px 20px 10px;
 }

article h2 { 
    padding-bottom: 0;
}

article .article-info {
    color: #999999;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #666;
}

.sidebar {
    float: left;
    width: 25%;
	margin-top: 10px;
}

.sidebar h4 {
	padding-bottom: 0;
	font-size: 13px;
	color: #eee;
	text-transform: uppercase;
	font-weight: normal;
	padding: 7px 7px;
	border-bottom: 1px solid;
  	background-color: #FF6600;
	font-weight:bold;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	background-color: #E6E7E9;
	margin-bottom: 20px;
	line-height: 1.9em;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13.5px;
}

.sidebar li ul li.text { 
	border-bottom: none;
}



.sidebar li ul li a {
	font-weight: normal;
}

.sidebar li ul li a:hover {
}


.sidebar li ul li a.readmore {
   color: #799AC0;
   font-weight: bold;
}




.clear {
	clear: both;
}

footer {
	margin:15px auto 0;
	width: 960px;
}
/*
footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}
*/
.footer-content {
	padding: 20px 25px 30px;
	background: #ddd;
	border-top: 10px solid #DB2C39;
}

footer .footer-content ul {
	width: 240px;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	border-bottom: 1px dashed #ccc;
	padding: 10px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
 color: #666666;
    font-size: 13px;
    text-decoration: underline;
}

footer .footer-content li a:hover { 
	color: #222;
}

footer .footer-content h4 {
   color: #666666;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 0;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}

footer .footer-content span.sitename {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #DB2C39;
	height:20px;
}

footer .footer-bottom p {
	text-align: center;
	font-size:12px;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #eee;
}
